/* 
	old colors:
	#0A84EF - blue
*/

/*------------Begin Footer----------*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
	margin-bottom: 60px;
	background-color: #f9f9fa;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f9f9fa;
}
.footer_text {
	text-align: center;
    padding: 0 20px;
    margin: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
		color: #6b6b6b;
}
/*------------End Footer----------*/
	
.navbar {
	margin-right: auto;
	margin-left: auto;
	border-radius: 0;
	background-color: #f9f9fa;
	max-width: 940px;
	margin-top: 10px;
	margin-bottom: 0px;
}

/* name nav */
.navbar-brand {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	color: #222222;
	font-size: 2.65em;
	background-color: #f9f9fa;
	min-height: 90px;
	padding-top: 35px;
	padding-bottom: 20px;
	transition-property: background-color;
	transition-duration: 0.18s;
	transition-delay: 0s;
	transition-timing-function: ease;
}

.navbar-brand:hover {
	border-radius: 8px;
	background-color: #e5e5e5;
	color: #0A84EF;
}

/*right nav*/
.nav {
	background-color: #f9f9fa;
	min-height: 80px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.56em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav > li > a {
	transition-property: background-color;
	transition-duration: 0.18s;
	transition-delay: 0s;
	transition-timing-function: ease;
	margin-left: 15px;
	cursor: pointer;
}

.nav > li > a:hover {
	border-radius: 5px;
	background-color: #e5e5e5;
	color: #0A84EF;
}

.col-sm-8 {
	width: auto;
	text-align: left;
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
}

.row.content {
	width: 100%;
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
}
	
/* Set 100% height */
.sidenav {
	height: 100%;
}

.about_body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	padding-top: 10px;
}

a {
	color: #222222;
	transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

a:hover {
	color: #0A84EF;
	text-decoration: none;
}

a:active {
	color: #222222;
}

.about_links {
	color: #0A84EF;
	font-weight: bold;
}

a.about_links:link {
	text-decoration: none;
	color: #0A84EF;
}

a.about_links:visited {
	text-decoration: none;
	color: #0A84EF;
}

a.about_links:hover {
	text-decoration: none;
	color: #2ba2fc;
}

a.about_links:active {
	text-decoration: none;
	color: #0A84EF;
}

.about_header {
	padding-bottom: 20px;
	font-size: 1.5em
}

.footer_text {
	font-size: 1.0em;
}

.article_link {
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	background-color: #ffffff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
}

.article_link_target {
	display: inherit;
	box-sizing: inherit;
    transition-property: box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;

}

.article_link_target:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  }

.article_container {
	padding: 4px 16px;
}


a.title_link:hover {
	color: #0A84EF;
	text-decoration: none;
}

.post_metadata_container {
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-align-items: baseline; /* Safari */
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
}

.post_title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	margin-right: 18px;
	margin-bottom: 6px;
	color: #222222;
	text-decoration: none;
}

.metadata {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #6b6b6b;
}

/* .post_tags {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-style: italic;
	color: #6b6b6b;
	order: 1;
	flex-grow:1;
} */



.post_header_line {
	border-bottom: 1px solid #d1d1d1;
}

.article_link_body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	padding-top: 10px;
	color: #333333;
	text-decoration: none;
	

}

.article_link_body:link {
    text-decoration: none;
}

.article_link_body:visited {
    text-decoration: none;
}

.article_link_body:hover {
    text-decoration: none;
}
.article_link_body:active {
    text-decoration: none;
}


a.projects-link {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 400;
	color: #0A84EF;
	font-size: 1.9em;
}

a.projects-link:hover {
	color: #2ba2fc;
	text-decoration: none;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	padding-bottom: 10px;
}

/*---------------------------article-content---------------------------------------*/

.article-header {
		padding-top: 10px;
}

.title_underline {
	width: 100%;
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 5px;
}

.article-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 2.6em;
	color:   #222222;
}

.article-date {
		font-family: 'Open Sans', sans-serif;
	  font-size: 1.25em;
	  color: #6b6b6b;
		display: block;
	margin-bottom: 15px;
}

.article-content {
		font-family: 'Open Sans', sans-serif;
	  font-size: 1.3em;
}

.article-subheading {
	font-size: 1.5em;
	color: #222222;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*---------------projects_index--------------*/

.col-sm-2 {
	width: 23%;
}

.archive-header {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 15px;
}

.archive-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 2.0em;
	display: block;
	margin-bottom: 0px;
}

.month_segment {
	list-style-type: none;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
}

.month_header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.9em;
	color: #6b6b6b;
}

.article_list {
	list-style-type: none;
}

.index_article_link {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	display: block;
	color: #0A84EF;
	display: inline-block;
	padding-right: 15px;
}

a.index_article_link:link {
	text-decoration: none;
	color: #0A84EF;
}

a.index_article_link:visited {
	text-decoration: none;
	color: #0A84EF;
}

a.index_article_link:hover {
	text-decoration: none;
	color: #2ba2fc;
}

a.index_article_link:active {
	text-decoration: none;
	color: #0A84EF;
}

.article_date {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	display: inline-block;
	color: #6b6b6b;
}

.inlinecode {
	font-family: 'Inconsolata', monospace;
	background-color: #EEEEEE;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
	color: #222222
}

.codeblock {
		font-family: 'Inconsolata', monospace;
		font-size: 0.9em;
		background-color: #EEEEEE;
    box-sizing: border-box;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
    margin: 1rem 0;
    padding: 0.35rem 0.5rem;
}

.archlinks {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.0em;
	color: #6b6b6b;

}
	/*--------------------Begin media queries section--------------------*/

	/* On small screens, set height to 'auto' for sidenav and grid */
	@media screen and (max-width: 768px) {

		.navbar {
			margin: 0px;
			border: 0px;
		}

		ul.nav.navbar-nav.navbar-right {
			margin-top: 10px;
			font-size: 1.4em;
			min-height: 30px;
			text-align: center;
		}

		.navbar-right {
			list-style-type: none;
    	margin: 0;
    	padding: 0;
			text-align: center;
		}

		.navbar-nav {
			list-style-type: none;
    	margin: 0;
    	padding: 0;
			text-align: center;
		}

		ul.nav li {
			display: inline-block;
		}

		.nav > li > a:hover {
			font-weight: bold;
			background-color: white;
	  	color: black;
		}

		.nav > li > a {
			margin-left: 0px;;
		}

		.col-sm-8 {
			width: auto;
			font-size: 85%;
			padding-top: 0px;
		}

		.navbar-brand {
			text-align: center;
			height: auto;
			display: inline-block;
			min-height: 60px;
			padding-top: 20px;
	  		padding-bottom: 15px;
			font-size: 1.8em;
			width: 100%;
			background-color: #0A84EF;
			color: white;
			border-bottom-width: 1px;
			border-bottom-color: #0A84EF;
		}

		a.navbar-brand:link {
			text-decoration: none;
			color: white;
		}

		a.navbar-brand:visited {
			text-decoration: none;
			color: white;
		}

		a.navbar-brand:hover {
			text-decoration: none;
			color: white;
		}

		a.navbar-brand:active {
			text-decoration: none;
			color: white;
		}

		.navbar-header {
			text-align: center;
			height: auto;
		}

		.row.content {
			height:auto;

		}

		.about_header {
			padding-bottom: 20px;
			font-size: 0.5em
		}

		.post_title {
		font-size: 1.9em;
		margin-right: 10px;
		}

		.metadata {
			font-size: 1.2em;
			color: #6b6b6b;
		}

		.post_header_line {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.article_link_body {
			font-size: 1.3em;
			padding-top: 0px;
			text-decoration: none;
		}

		.article-header {
				padding-top: 0px;
		}

		.article-date {
				display: block;
				margin-bottom: 1rem;
		}

	}

/*--------------------End media queries section--------------------*/

/*------------Begin unused css section----------*/

/* home screen link animation */
/* @media screen and (min-width: 769px) {
	.post_title span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.35s;
	}

	.post_title span:after {
		content: '/';
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0px;
		transition: 0.20s;
	}

	.post_title:hover span {
		padding-left: 20px;
	}

	.post_title:hover span:after {
	opacity: 1;
	left: 20;
	}
} */

/* button css */
		/* a.button {
	  font-family: 'Roboto', serif;
	  font-size: 1.5em;
	  -webkit-transition-duration: 0.4s;
	  text-decoration: none;
	  transition-duration: 0.4s;
	  cursor: pointer;
	  background-color: white;
	  color: #222222;
	  border: 1.4px solid #0A84EF;
	  text-align: center;
	  display:inline;
	  padding: 9px;
	}

		a.button:hover {
		background-color: #0A84EF;
		color: white;
	} */

	/*------------End unused css section----------*/