
/*------------Sticky footer stuff----------*/

/*html,
body {
  height: 100%;
}
.container {
  display: table;
  height: 100%;
}
.block {
  display: table-row;
  height: 1px;
}
.push {
  height: auto;
}
.container {
  width: 100%;
  text-align: center;
}*/


/*.footer_text {
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
}*/

/*------------Sticky footer stuff----------*/





/* Remove the navbar's default margin-bottom and rounded borders */
	
	/*div.container-fluid > div.navbar-header {
		display: flex;
    align-items: center;
	}*/
	
	.navbar {
	  margin-right: 10%;
	  margin-left: 10%;
	  border-radius: 0;
	  background-color: white;
	  border-bottom-width: 1px;
	  border-bottom-color: #3f51b5;
	}


	/*name nav*/
	.navbar-brand {
	  font-family: 'Roboto', serif;
	  font-weight: 	500;
		color: #222;
	  font-size: 2.65em;
	  background-color: white;
		min-height: 90px;
	  padding-top: 30px;
	  padding-bottom: 20px;
	}

	
	
	/*right nav*/
	.nav {
	  background-color: white;
	  min-height: 80px;
	  font-size: 1.56em;
	  padding-top: 20px;
	  padding-bottom: 20px;
	}

	.nav > li > a {
	  -webkit-transition-duration: 0.3s; 
	  transition-duration: 0.3s;
	  cursor: pointer;
	}

	.nav > li > a:hover {
	  background-color: #3f51b5;
	  color: white;
	}

	.col-sm-8 {
	  text-align: left;
	}
	
	/* Set gray background color and 100% height */
	.sidenav {
	  padding-top: 20px;
	  background-color: none;
	  height: 100%;
	}

	.about_body {
	  font-family: 'Open Sans', sans-serif;
	  font-size: 1.3em;
	  padding-top: 10px;
	}

	a {
	  color: #222;
	}

	a:hover {
		color: #3f51b5;
	}

	a:active {
		color: #222;
	}

	.about_links {
		color: #3f51b5;
		font-weight: bold;
	}

	a.about_links:link {
		text-decoration: none;
		color: #3f51b5;
	}

	a.about_links:visited {
		text-decoration: none;
		color: #3f51b5;
	}

	a.about_links:hover {
		text-decoration: none;
		color: #828fd4;
	}

	a.about_links:active {
		text-decoration: none;
		color: #3f51b5;
	}

	.about_header {
	  padding-bottom: 20px;
	  font-size: 1.5em
	}

	.footer_text {
	  font-size: 1.0em;
	}

	.article_link {
	  list-style-type: none;
	  margin-top: 20px;
	  margin-bottom: 20px;
	}

	.post_title {
		font-family: 'Roboto', serif;
		font-size: 2.0em;
		margin-right: 18px;
		display: inline;
		transition: all 0.35s;
		cursor: pointer;
	}


	.title_link {
	  color: #3f51b5;
	  text-decoration: none;
	}

	.date {
	  font-family: 'Open Sans', sans-serif;
	  font-size: 1.25em;
	  color: #6b6b6b;
	  display: inline;
	}

	.article_link_body {
	  font-family: 'Open Sans', sans-serif;
	  font-size: 1.3em;
	  padding-top: 10px;
	}

	a.button {
	  font-family: 'Roboto', serif;
	  font-size: 1.5em;
	  -webkit-transition-duration: 0.4s; /* Safari */
	  text-decoration: none;
	  transition-duration: 0.4s;
	  cursor: pointer;
	  background-color: white;
	  color: #222;
	  border: 1.4px solid #3f51b5;
	  text-align: center;
	  display:inline;
	  padding: 9px;
	}

		a.button:hover {
		background-color: #3f51b5;
		color: white;
	}

	p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.0em;
	padding-bottom: 10px;
}

/*---------------------------article-content---------------------------------------*/

.article-header {
		padding-top: 10px;
}

.article-title {
		font-family: 'Roboto', serif;
	  font-size: 2.6em;
		color:   #222;
}

.article-date {
		font-family: 'Open Sans', sans-serif;
	  font-size: 1.25em;
	  color: #6b6b6b;
		display: block;
		margin-bottom: 15px;
	}

.article-content {
		font-family: 'Open Sans', sans-serif;
	  font-size: 1.3em;
}

.article-subheading {
	font-size: 1.5em;
	color: #222;
	font-family: 'Roboto', serif;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*++++++++++++++++++projects_index style+++++++++++++++++++++++*/

.month_segment {
	list-style-type: none;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
}

.month_header {
	font-family: 'Roboto', serif;
	font-size: 1.9em;
	color: #6b6b6b;
}

.article_list {
		list-style-type: none;
}

.index_article_link {
		font-family: 'Roboto', serif;
		font-size: 1.5em;
		display: block;
		color: #3f51b5;
		display: inline-block;
		padding-right: 15px;
}

a.index_article_link:link {
	text-decoration: none;
	color: #3f51b5;
}

a.index_article_link:visited {
	text-decoration: none;
	color: #3f51b5;
}

a.index_article_link:hover {
	text-decoration: none;
	color: #828fd4;
}

a.index_article_link:active {
	text-decoration: none;
	color: #3f51b5;
}

.article_date {
	font-family: 'Roboto', serif;
	font-size: 1.2em;
	display: inline-block;
	color: #6b6b6b;
}

.inlinecode {
		font-family: 'Inconsolata', monospace;
		background-color: #EEEEEE;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
		color: #222
}

.codeblock {
		font-family: 'Inconsolata', monospace;
		background-color: #EEEEEE;
    box-sizing: border-box;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
    margin: 1rem 0;
    padding: 0.35rem 0.5rem;
}

.archlinks {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.0em;
	color: #6b6b6b;

}
	/*------------------------------Media  queries section---------------------------------*/

	/* On small screens, set height to 'auto' for sidenav and grid */
	@media screen and (max-width: 768px) {

		.navbar {
			margin: 0px;
		}

		.nav {
			height: auto;
			text-align: center;
			padding: 0px;
			font-size: 1.5em;
		}

		.col-sm-8 {
			font-size: 85%;
			padding-top: 0px;
		}

		/*Look at maybe makeing this a different color*/
		.navbar-brand {
			text-align: center;
			height: auto;
			display: inline-block;
			min-height: 60px;
			padding-top: 20px;
	  	padding-bottom: 15px;
			font-size: 2.0em;
			width: 100%;
			background-color: #3f51b5;
			color: white;
			border-bottom-width: 1px;
			border-bottom-color: #3f51b5;
		}

		a.navbar-brand:link {
			text-decoration: none;
			color: white;
	}

	a.navbar-brand:visited {
		text-decoration: none;
		color: white;
	}

	a.navbar-brand:hover {
		text-decoration: none;
		color: white;
	}

	a.navbar-brand:active {
		text-decoration: none;
		color: white;
	}

		.navbar-header {
			text-align: center;
			height: auto;
		}

		.row.content {
			height:auto;
		}

		.navbar-nav {
			margin-top: 0px;
			margin-bottom: 0px;
		}

		.about_header {
			padding-bottom: 20px;
			font-size: 0.5em
		}

		.post_title {
		font-size: 1.9em;
		margin-right: 0px;
		}

		.date {
			display: block;
			font-size: 1.4em;
			color: #6b6b6b;
		}

		.article_link_body {
			font-size: 1.3em;
			padding-top: 0px;
		}

		.article-header {
				padding-top: 0px;
		}

		.article-date {
				display: block;
				margin-bottom: 1rem;
		}
	}

	/*disables hover animation for touch devices*/
	@media screen and (min-width: 769px) {
		.post_title span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.35s;
		}

		.post_title span:after {
			content: '/';
			position: absolute;
			opacity: 0;
			top: 0;
			left: 0px;
			transition: 0.20s;
		}

		.post_title:hover span {
			padding-left: 20px;
		}

		.post_title:hover span:after {
		opacity: 1;
		left: 20;
		}
	}